<mat-card class="popup-card col-11 col-lg-4" *ngIf="popupService.showCard">
    <mat-card-header>
        <mat-card-title>{{popupService.popup.popTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="popup-input">
            <mat-label>{{popupService.popup.inputLabelText}}</mat-label>
            <input matInput #input
            placeholder="{{popupService.popup.inputPlaceholderText}}"
            (keydown.enter)="actionPressed(popupService.popup.actions[0], input.value)">
          </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button *ngFor="let action of popupService.popup.actions;" 
        (click)="actionPressed(action, input.value)">
            {{action}}
        </button>
    </mat-card-actions>
</mat-card>