mat-toolbar {
    padding: 0;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-icon {
    padding: 0 14px;
}

mat-sidenav-container {
    height: 92vh!important;
}

.mat-sidenav-content {
    margin-bottom: 0px;
}

router-outlet + * {
    min-height: calc(100%);
    width: 100%;
    padding: 0;
    background-color: transparent!important;
    display: inline-block;
}

/** mat-toolbar height **/
/** 6.50vh on desktop **/
/** 10vh on mobile(tablet) **/

@media (min-width: 992px) {


    mat-sidenav-container {
        height: calc(100vh - 64px)!important;
    }
}

@media (max-width: 991px) {

 
     mat-sidenav-container {
        height: calc(100vh - 56px)!important;
     }
}