<mat-card class="popup-card col-11 col-lg-4" *ngIf="popupService.showCard">
    <mat-card-header>
        <mat-card-title>{{popupService.popup.popTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="popup-input">
            <mat-label>{{popupService.popup.inputLabelText}}</mat-label>
            <input matInput #input
            placeholder="{{popupService.popup.inputPlaceholderText}}">
          </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button 
        *ngIf="popupService.popup.leftActionText.length > 0"
        (click)="actionPressed(0, input.value)">
            {{popupService.popup.leftActionText}}
        </button>
        <button mat-button 
        *ngIf="popupService.popup.rightActionText.length > 0"
        (click)="actionPressed(1, input.value)">
            {{popupService.popup.rightActionText}}
        </button>
    </mat-card-actions>
</mat-card>