<div class="container-fluid" style="padding: 0; height: calc(100%)">
  <div class="row no-gutters" style="height: 100%;">
    <div class="col-12 col-lg-9">
      <!-- width > 600: calc(95vh - 14px); width < 600: calc(95vh - 28px); will have to think about this-->
      <mat-tab-group [dynamicHeight]="true" style="height: 100%;">
        <mat-tab label="Public">
          <mat-card class="main-chat-card" style="border-radius: 0; height: 100%;">
            <!-- mobile height: 106px; desktop: 114px -->
              <app-messages></app-messages>
              <app-input></app-input>
            <mat-card-footer>
            </mat-card-footer>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
  
      <div class="col-lg-3" fxShow="true" fxHide.lt-md="true" style="border-left: 1px solid rgba(0, 0, 0, 0);">
        <app-members></app-members>
      </div>
    </div>
  </div>