.mat-drawer-content {
    overflow: hidden!important;
}

::-webkit-scrollbar {
    width: 0px;
}

:host ::ng-deep .mat-tab-body-wrapper {
    flex-grow: 1;
}

// .main-chat-card {
//     height: calc(100vh - 125px);
// }