mat-toolbar {
    padding: 0;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-sidenav-container {
    height: calc(100% - 64px);
}

// router-outlet + * {
// }

@media (max-width: 599px) {

     mat-sidenav-container {
        height: calc(100% - 56px)!important;
     }
}