.message-input-f {
    background-color: #303030;
    padding: 12px 12px 0px 12px!important;
    border-radius: 12px;
    margin-bottom: 12px!important;
}



/* input color class */
// ::ng-deep input.mat-input-element {
//     color: #484a4c;
//   }
  
/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: whitesmoke !important;
}
  
::ng-deep .mat-input-element {
    caret-color: whitesmoke!important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: whitesmoke !important;
}

.message-input input {
    padding-right: 32px;
}

.message-input button {
    position: absolute;
    bottom: 8px;
    z-index: 2;
    right: 6px;
    border: 0;
    padding: 0;
    background: transparent;
}

.message-input mat-icon {
    color: black;
    font-size: 2em;
}

.mat-drawer-content {
    overflow: hidden!important;
}

::-webkit-scrollbar {
    width: 0px;
}

div.mat-tab-body-wrapper {
    height: 100%!important;
}

//     right: 38px
@media (min-width: 768px) {
    .message-input-f {
        right: 38px;
    }
}