<div class="container-fluid" style="padding: 0; height: calc(100%)">
  <div class="row no-gutters" style="height: 100%;">
    <div class="col-12 col-lg-9">
      <mat-tab-group [dynamicHeight]="true" style="height: 100%;">
        <mat-tab label="Public" style="height: 100%; flex-grow: 1;">
          <mat-card class="main-chat-card" style="height: calc(100vh - 113px); border-radius: 0;">
            <mat-card-content #messageContainer style="overflow-y: scroll; 
              overflow-x: hidden; padding: 0 16px;"
              [ngStyle]="{'height' : 'calc(100% - ' + textHeight + 'px)'}">
              <div class="messages-container">
                <app-messages *ngFor="let message of messages; index as i"
                  [isMyMessage]="true"
                  [dateTime]="i"
                  [username]="'wanted'"
                  [message]="'YES'"
                ></app-messages>
                
              </div>
              <div class="text-input-container">
                <div class="col-11 message-input-f">
                  <div class=" message-input">
                    <mat-form-field #field class="example-full-width" style="width: 100%;" color="">
                      <mat-label>Leave a comment</mat-label>
                      <textarea matInput #textArea
                      placeholder="Ex. It makes me feel..."
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      style="padding-right: 32px;"
                      (blur)="onTextChange()"
                      (paste)="onTextChange()"
                      (keyup.backspace)="onTextChange()"
                      (keypress)="onTextChange()"
                      (resize)="onTextChange()"
                      (keydown.enter)="prepareMessageSend(); stopNewLine($event);"
                      ></textarea>
                      <mat-icon matSuffix style="color: whitesmoke;" (click)="prepareMessageSend(); stopNewLine($event)">send</mat-icon>
                    </mat-form-field>
                    <!-- <textarea type="text" style="bottom: 12px; position: absolute; min-height: 40px; max-height: 100px;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Message Text"></textarea> -->
                  </div>
                </div>
              </div>
            </mat-card-content>
            <mat-card-footer>
            </mat-card-footer>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="col-lg-3" fxShow="true" fxHide.lt-md="true" style="border-left: 1px solid rgba(0, 0, 0, 0);">
      <mat-tab-group [dynamicHeight]="true" style="height: 100%;">
        <mat-tab label="Members" style="height: 100%; flex-grow: 1;">
          <mat-card class="example-card" style="height: 100%; border-radius: 0;">
            <mat-card-header style="text-align: right;">
              <mat-card-title>
                  Names
              </mat-card-title>
              <h4 style="
              margin-bottom: 0px;
              width: 100%;
              padding-right: 58px;">Actions</h4>
            </mat-card-header>
            <mat-card-content style="height: calc(100vh - 177px); overflow-y: auto;">
              <mat-list>
                <mat-list-item>
                  <h3 matLine> Austin </h3>
                  <button mat-button
                  matTooltip="Send the user a private messaage"
                  matTooltipPosition="above"
                  >
                    <mat-icon>message</mat-icon>
                  </button>
                  <button mat-button
                  matTooltip="Block messages from user"
                  matTooltipPosition="above">
                    <mat-icon>block</mat-icon>
                  </button>
                </mat-list-item>
               </mat-list>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>