.mat-drawer-content {
    overflow: hidden!important;
}

::-webkit-scrollbar {
    width: 0px;
}

div.mat-tab-body-wrapper {
    height: 100%!important;
}

//     right: 38px
@media (min-width: 768px) {
    .message-input-f {
        right: 38px;
    }
}