.sent-message {
    background-color: purple;
    border-radius: 12px;
    max-width: 60%;
}

.received-message {
    background-color: rebeccapurple;
    border-radius: 12px;
    float: right;
    max-width: 60%;
}

.sent-message mat-card-content, .received-message mat-card-content {
    margin-bottom: 0;
}

.message-footer {
    text-align: right;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
}

@media screen and (orientation:portrait) {
    .sent-message, .received-message {
        max-width: 80%;
    }
}