<div class="row" style="margin-bottom: 8px;" [ngStyle]="!isMyMessage ? 
  {'justify-content': 'flex-start'} :
  {'justify-content': 'flex-end'}">
    <mat-card 
        [ngClass]="!isMyMessage ? 
            'sent-message' : 
            'received-message'"
        [ngStyle]="!isMyMessage ? {'background-color' : 'purple'} : ''"
    >
      <mat-card-content>
        <p style="word-break: break-all;">{{message}}</p>
      </mat-card-content>
      <mat-card-footer class="message-footer">{{username}} - {{dateTime}}</mat-card-footer>
    </mat-card>
  </div>